* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

}

body {
    font-family: $primary-font;
    scroll-behavior: smooth;
}

.wrapper {
    max-width: $max-width;
    margin: auto;
    padding: 0 1.5rem;
    overflow: hidden;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

//button
%btn-shared {
    display: inline-block;
    font-size: 12px;
    text-transform: uppercase;
    outline: none;
    padding: 20px 30px;
    background: none;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
}

.btn {
    &-light {
        @extend %btn-shared;
        color: $colorDark;
        border-top: 1.5px solid $colorDark;
        border-bottom: 6px double $colorDark;

        &:hover {
            background: $colorDark;
            color: $colorTextLight;
            border-top: 1.5px solid $colorLight;
            border-bottom: 6px double $colorLight;
        }
    }

    &-dark {
        @extend %btn-shared;
        color: $colorLight;
        border-top: 1.5px solid $colorLight;
        border-bottom: 6px double $colorLight;

        &:hover {
            background: $colorLight;
            color: $colorTextDark;
            border-top: 1.5px solid $colorDark;
            border-bottom: 6px double $colorDark;
        }
    }
}

.lead {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 400;
}

.logo {
    font-size: 12px;
    text-transform: uppercase;

    &__description {

        color: $colorDark;
        font-size: 30px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 45px;
        letter-spacing: 8px;
    }

    &__description-light {
        color: $colorTextLight;
        font-size: 30px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 45px;
        letter-spacing: 8px;
    }
}

.container {
    height: 700px;
    align-items: center;

    &__left {
        max-width: 450px;
    }

    &__right {
        max-width: 800px;
    }
}

.text {
    &-dark {
        color: $colorTextDark;
        line-height: 2.2;
    }

    &-light {
        color: $colorTextLight;
        line-height: 2.2;
    }
}

.facts-box {
    min-height: 150px;
    max-width: 255px;
    text-align: center;
    text-transform: uppercase;
}

.right-angle-button {
    min-width: 50px;
    animation: bounce .5s infinite alternate;

    &:hover {
        cursor: pointer;
        color: $rightAngle;
    }
}

// @Keyframes
@keyframes slideFromRight {

    0% {
        transform: translateX(30%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes bounce {
    to {
        transform: scale(1.2);
    }
}