@media(min-width: 769px) and (max-width: 1200px) {

    .wrapper {
        max-width: 1000px;
    }

    // Header & Navbar
    .navbar__search-form input {
        right: 10%;
    }

    .header-title {
        &__text {
            max-width: 500px;
        }

        h1 {
            font-size: 100px;
            margin-bottom: 20px;
            transition: font-size 3s;
        }

        h2 {
            font-size: 40px;
            transition: font-size 3s;
        }
    }

    // Intro
    .container {
        height: 1110px;

        &__left {
            min-width: 100%;
            margin-bottom: 70px;
        }

        &__right {
            max-width: 100%;
        }
    }

    .intro {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    // Portfolio
    .first-row,
    .second-row {
        display: flex;
        flex-wrap: wrap;
    }

    .portfolio__item {
        flex: 50%;
    }

    // Facts

    .facts-content {
        padding: 130px 0;
        flex-wrap: wrap;
    }

    .facts-content__slash-container {
        display: none;
    }

    .facts-box {
        flex: 50%;
        margin-bottom: 50px;
    }

    // Services

    .services {
        flex-direction: column;
        justify-content: center;

        &__wrapper {
            margin-bottom: 70px;
            min-width: 300px;
        }

        &__content {
            justify-content: space-between;
        }
    }

    // Contact

    .contact {
        &-container {
            flex-direction: column;
            justify-content: center;
        }

        &__fill-form {
            margin: 0;
        }
    }



}

// Smartphones & Tablets
@media only screen and (max-width: 768px) {

    .wrapper {
        max-width: 600px;
    }

    .navbar {
        label {
            display: block;
            cursor: pointer;
        }

        &__items {
            text-align: center;
            width: 100%;
            display: none;
            position: absolute;
            left: 0;
            z-index: 2;

            a {
                display: block;
                border-bottom: 1px solid $colorDark;
                background: $colorDarkBackground;
            }
        }

        #toggle:checked+&__items {
            display: block;

            & a:hover {
                background: $hoverBackground;
            }

            .navbar__search-form {
                display: none;
            }
        }
    }

    .header-title {
        &__text {
            max-width: 350px;
        }

        h1 {
            font-size: 80px;
            margin-bottom: 20px;
            transition: font-size 2s;
        }

        h2 {
            font-size: 30px;
            transition: font-size 2s;
        }
    }

    // Intro

    .container {
        min-height: 1110px;

        &__left {
            min-width: 100%;
            margin-bottom: 70px;
        }

        &__right {
            min-width: 100%;
        }
    }

    .intro {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    // Portfolio
    .first-row,
    .second-row {
        display: flex;
        flex-direction: column;
    }

    .portfolio__item {
        &-image img {
            height: 400px;
        }
    }

    // Facts

    .facts-content {
        padding: 30px 0;
        flex-wrap: wrap;
    }

    .facts-content__slash-container {
        display: none;
    }

    .facts-box {
        min-width: 100%;
        margin-bottom: 70px;
    }

    // Services

    .services {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 30px 0;

        &__wrapper {
            margin-bottom: 70px;
            min-width: 100%;

        }
    }

    // Contact

    .contact {
        &-container {
            flex-direction: column;
            justify-content: center;
            min-height: 900px;
        }

        &__fill-form {
            margin: 0;
        }
    }

    .footer {
        h6 {
            font-size: 32px;
        }

        &__copyright {
            text-align: center;
            margin: 0 5px;
        }
    }
}