// // Portfolio

@import 'variables';

.first-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.second-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.portfolio__item {
    position: relative;

    &-image,
    &-text {
        text-align: center;
    }

    &-image img {
        display: block;
        width: 100%;
        height: 600px;
        object-fit: cover;
    }

    &-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        top: 10%;
        left: 15%;
        bottom: 10%;
        right: 15%;
        width: 70%;
        background: rgba(255, 255, 255, 0.2);
        color: #fff;
        opacity: 0;
        border: 1px solid $colorLight;

        h3 {
            font-size: 14px;
            margin-bottom: 10px;
            text-transform: uppercase;
            letter-spacing: 4px;
        }
    }

    &:hover &-text {
        opacity: 1;
        transition: opacity .3s;
        backdrop-filter: blur(10px);
        cursor: pointer;
    }
}