@import url('https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap');

$max-width: 1600px;
$primary-font: 'Open Sans',
sans-serif;
$colorLight:white;
$colorDark: #222121;
$borderLight: 1px solid white;
$linearBackground : linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
$colorDarkBackground :#0d0d0d;
$colorTextDark: #868686;
$colorTextLight: white;
$rightAngle:gold;
$hoverBackground :#43210e;