@import 'variables';
@import 'general';
@import 'portfolio_grid';


// Header 
.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;

    &:before {
        content: '';
        background: $linearBackground, url('../img/header.jpg') no-repeat center center/cover;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    &-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $colorLight;

        &__text {
            max-width: 700px;
            margin-bottom: 10rem;

            h1 {
                font-size: 130px;
                font-weight: lighter;
                margin-bottom: 40px;
                animation: 1s ease-out 0s 1 slideFromRight;
                transition: font-size 2s;
            }

            h2 {
                font-size: 60px;
                animation: 1s ease-out 0s 1 slideFromRight;
                animation-delay: .15s;
                transition: font-size 2s;
            }
        }
    }

    &__img-switcher {
        color: $colorLight;
        display: flex;

        &_item {
            font-size: 14px;
            margin-right: 30px;

            p {
                font-size: 30px;
            }
        }
    }
}

// Navbar
.navbar {
    margin-top: 30px;
    text-align: right;
    height: 70px;
    line-height: 70px;
    color: $colorLight;

    &__logo {
        position: absolute;
        text-align: left;
        font-size: 30px;
        font-weight: bold;
    }

    label {
        margin: 0 40px 0 0;
        color: $colorLight;
        font-size: 26px;
        line-height: 70px;
        display: none;
    }

    #toggle {
        display: none;
    }

    &__items {
        margin: 0 30px 0 0;

        a {
            text-decoration: none;
            text-transform: uppercase;
            color: $colorLight;
            margin: 0 10px;
            line-height: 70px;

            &:hover {
                background: url('../img/icons/slash-icon.png') center center/cover no-repeat;
                transition: .5s;
                background-size: 24px;
            }
        }
    }

    &__search-form {
        margin-left: 30px;

        input {
            position: fixed;
            top: 80px;
            right: 80px;
            display: none;
            font-size: 16px;
            outline: 1px solid $colorLight;
            outline-offset: 5px;
            padding: 10px 20px;
            margin-top: 10px;
        }

        &:hover {
            input {
                display: block;
            }
        }
    }
}

// Intro
.intro {
    display: flex;
    justify-content: space-between;

    &__description-text {
        margin-bottom: 50px;
    }

    &__img {
        margin-left: 50px;
        width: 100%;
    }

    .container {
        &__right {
            width: 600px;
        }

        &__left {
            max-width: 600px;
        }
    }
}

// Portfolio

// Facts
.facts-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $colorDark;
    color: $colorLight;
    min-height: 410px;

    &__slash-container i {
        font-size: 90px;
        color: $colorTextDark;
        transform: rotate(-90deg);
    }

    &__item {
        i {
            font-size: 45px;
            margin-bottom: 20px;
            transition: all 1s;

            &:hover {
                font-size: 70px;
            }
        }

        h4 {
            font-size: 36px;
            margin-bottom: 15px;
        }
    }
}

// Services
.services {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 130px 0;

    &__description-text {
        width: 100%;
        margin-bottom: 50px;
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }

    &__wrapper {
        max-width: 40%;
        margin: 0 20px 20px 0;

        i {
            font-size: 50px;
            color: $colorTextDark;
            margin-bottom: 30px;
            overflow: hidden;
            transition: all .5s ease-in-out;

            &:hover {
                transform: scale(1.5);
                color: $colorDark;
                cursor: pointer;
            }
        }

        h5 {
            font-size: 16px;
            font-weight: bold;
            letter-spacing: 2px;
            text-transform: uppercase;
            margin-bottom: 20px;
        }

        p {
            color: $colorTextDark;
        }
    }
}

// Contact
.contact {
    color: $colorTextLight;
    background: $linearBackground, url('../img/contact.jpg') center center/cover no-repeat;

    &-container {
        display: flex;
        justify-content: space-between;
    }

    &__info {
        margin-bottom: 20px;
        max-width: 490px;

        i {
            font-size: 20px;
            margin-right: 20px;
        }
    }

    &__description-text {
        margin-bottom: 20px;
    }

    &__fill-form {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 50px 0 0 100px;

        input {
            color: $colorLight;
            background: none;
            border: none;
            border-bottom: $borderLight;
            padding: 5px 0 20px;
            margin-bottom: 20px;
            outline: none;

            &::placeholder {
                font-size: 14px;
                font-style: italic;
                color: $colorLight;
            }
        }

        textarea {
            font-family: $primary-font;
            color: $colorLight;
            background: none;
            border: none;
            width: 100%;
            height: 130px;
            border-bottom: $borderLight;
            padding: 5px 0 10px;
            margin-bottom: 35px;
            outline: none;

            &::placeholder {
                font-size: 14px;
                font-style: italic;
                color: $colorLight;
            }
        }
    }

    &__form-button {
        width: 150px;
    }

    .form {
        display: flex;
        justify-content: space-between;

        &__item {
            width: 48%;

            input {
                width: 100%;
            }
        }
    }
}

// Footer
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    background: $colorDarkBackground;
    color: $colorLight;

    h6 {
        font-size: 48px;
        font-style: italic;
        margin-bottom: 20px;
    }

    &__email {
        font-size: 24px;
        margin-bottom: 40px;
    }

    &__social {
        a {
            color: $colorLight;

            &:hover {
                color: $rightAngle;
            }
        }

        i {
            width: 50px;
            margin-bottom: 40px;
        }
    }

    &__copyright {
        color: $colorDark;

        a {
            color: $colorLight;

            &:hover {
                color: $rightAngle;
                cursor: pointer;
            }
        }
    }
}

// Import Media Queries

@import 'media';